.react-calendar-heatmap .react-calendar-heatmap-week > rect {
  width: 16px !important;
  height: 16px !important;
  stroke-width: 1 !important;
}
.react-calendar-heatmap .color-github-1    { fill: #ebedf0; }
.react-calendar-heatmap .color-github-2    { fill: #85e89d; }
.react-calendar-heatmap .color-github-3    { fill: #34d058; }
.react-calendar-heatmap .color-github-4    { fill: #216e39; }
.react-calendar-heatmap .color-empty       { fill: #f3f3f3; }
.react-calendar-heatmap text { font-size: 7px !important; }
